In [1]:
import pandas as pd 
from pandas import Series,DataFrame
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
sns.set_style('whitegrid')

In [25]:
election=pd.read_csv('CSV/wine.csv',sep='\t')

In [19]:
election

                                                       0
0      PK     ��R�tS�  �     Index/Document.i...
1                                                      
2                     *��5��5��5��5��5�5��5Ȫ5��5
3                                �5"��5*��52Ȫ5B�
4                                                      �
...                                                  ...
11166    +             � Index/Tables/HeaderStorage...
11167   preview-micro.jpgPK>      ��Rc��NA:  A:  ...
11168                       preview-web.jpgPK    - - j
11169                                                 ��
11170                                                   

[11171 rows x 1 columns]